@use "sass:map";
@import "styles/variables";

.navbar {
    background: map.get($purple-color, 900);
    height: 60px;

    @media (max-width: 375px) {
        padding: 0 20px;
    }
}

.container-jf {
    width: 100%;
    max-width: 1270px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
    padding-right: 50px;

    @media (max-width: 375px) {
        padding-right: 0;
        padding-left: 0;
    }
}

.custom-button {
    background-color: map.get($purple-color, 900);
    width: 100%;
    height: 48px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    border-radius: 6px;
}

